//COLOR VARIABLES
$white: #fff !default;
$gray-100: #e7e7e7;
$gray-900: #c7bebe;
$black: #000 !default;

$blue: #3282f7;
$orange: #ed6454;
$logo: #d04f4f;
$teal: #68d9a4;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$cyan: #0dcaf0 !default;

$primary: $blue;
$secondary: $teal;
$tertiary: $orange;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100;
$dark: $gray-900;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'tertiary': $tertiary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
  'black': $black,
);

//Input variables

$input-bg: $light;
$input-placeholder-color: $white;
$input-border-color: $light;

$enable-rounded: false;

//Button variables
$btn-hover-bg-shade-amount: 0;
$btn-hover-bg-tint-amount: 0;
$btn-hover-border-shade-amount: 0;
$btn-hover-border-tint-amount: 0;
$btn-active-bg-shade-amount: 0;
$btn-active-bg-tint-amount: 0;
$btn-active-border-shade-amount: 0;
$btn-active-border-tint-amount: 0;

//enable negative margins
$enable-negative-margins: true;

//custom classes

.custom-column-count {
  column-count: 3;
}

.custom-font-small {
  font-size: 0.75rem !important;
}

.custom-rectangle {
  height: 12rem;
  width: 100%;
  background-color: $dark;
}

.custom-title {
  height: 4em;
  margin-bottom: 0.75rem;
}

.custom-responsive-text {
  @media only screen and (max-width: 1024px) {
    font-size: 0.85rem;
  }
}

.custom-card-height {
  max-height: 30em;
}

.custom-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-width {
  width: 90%;
}

.custom-animation {
  transition: 0.5s;
}

.custom-placeholder-grey::placeholder {
  color: grey !important;
}
