@import '../../node_modules/bootstrap/scss/bootstrap.scss';

//COLOR VARIABLES
// scss-docs-start gray-color-variables
$white: #fff !default;
$gray-100: #e7e7e7;
$gray-900: #c7bebe;
$black: #000 !default;

$blue: #3282f7;
$orange: #ed6454;
$logo: #d04f4f;
$teal: #68d9a4;

// scss-docs-start theme-color-variables
$primary: $blue;
$secondary: $teal;
$tertiary: $orange;
$light: $gray-100;
$dark: $gray-900;
